body {
  background-size: cover;
  height: 100vh;

}
.jumbotron,
.card {
  background-color: rgba(255, 255, 255, 0.85);
  align-items: center;
}
.jumbotron .container {
  height: 70vh;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include responsive(tablet-portrait) {
    height: 80vh;
  }
  @include responsive(phone) {
    height: 90vh;
  }
}