.social__component {
  display: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  // .fas {
  //   background-color: #007bff;
  // }
  // .fa-linkedin-in {
  //   background-color: #24709c;
  // }
  // .fa-twitter {
  //   background-color: #67a5c9;
  // }
  // .fa-instagram {
  //   background-color: #cc3f57;
  // }
  // .fa-facebook {
  //   background-color: #4040de;
  // }
}
.share-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 1;
  & span {
    height: 3rem;
    width: 3rem;
    background: #474747;
    line-height: 3rem;
    font-size: 1.2625rem;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    border: 0.06rem;
  }
  @include responsive(tablet-portrait) {
    bottom: 2rem;
    right: 2rem;
  }
  @include responsive(phone) {
    bottom: 2rem;
    right: 2rem;
  }
}
.share-btn a span {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  height: 1.175rem;
  width: 1.175rem;
  line-height: 1.175rem;
  border: 0.06rem solid transparent;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
}
#click:checked ~ .share-btn a span {
  height: 2.525rem;
  width: 2.525rem;
  line-height: 2.525rem;
  font-size: 1.2625rem;
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
}
#click:checked ~ .share-btn a:nth-child(2) span {
  bottom: 0rem;
  right: 3.3rem;
}
#click:checked ~ .share-btn a:nth-child(3) span {
  bottom: 0rem;
  right: 6.3rem;
}
.share-btn a:nth-child(3) span {
  transition-delay: 0.02s;
}
#click:checked ~ .share-btn a:nth-child(4) span {
  bottom: 0rem;
  right: 9.3rem;
}
.share-btn a:nth-child(4) span {
  transition-delay: 0.04s;
}
#click:checked ~ .share-btn a:nth-child(5) span {
  bottom: 0rem;
  right: 12.3rem;
}
.share-btn a:nth-child(5) span {
  transition-delay: 0.06s;
}
#click {
  display: none;
}
