.container__technology {
  background-color: rgba(255, 255, 255, 0.85);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__button {
  text-align: center;
  border-radius: 0rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  color: black;
  padding: 0.5rem 1rem;
  border: 3px solid rgba(20, 20, 20, 0.86);
  font-size: 1.25rem;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    background: rgba(20, 20, 20, 0.86);
    color: white;
    transform: translateY(-5px);
  }
}
.button__github {
  color: black;
  text-align: center;
  border: 3px solid rgba(20, 20, 20, 0.86);
  background-color: white;
  &:hover {
    background: rgba(20, 20, 20, 0.86);
    color: white;
    transform: translateY(-5px);
    border: 0ch;
  }
}
